<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lyan's pets</title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="../index.html">Back to main portfolio</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <h1>My pets</h1>
        <p>
          I'm an animal lover. So I don't own them, just let them live by
          themselves.
        </p>
      </section>

      <section class="grid">
        <h2>My fictional pets</h2>
        <article>
          <h3>Phoenix</h3>
          <img src="/public/images/pets/phoenix.webp" />
          <p>
            The legendary bird known for its ability to burn itself to death and
            be reborn from its own ashes.
          </p>
        </article>
        <article>
          <h3>Pikachu</h3>
          <img src="/public/images/pets/pikachu.webp" />
          <p>The electric-type Mouse Pokémon.</p>
        </article>
        <article>
          <h3>Kirara</h3>
          <img src="/public/images/pets/kirara.webp" />
          <p>The magical demon cat from Inuyasha.</p>
        </article>
        <article>
          <h3>Luna</h3>
          <img src="/public/images/pets/luna.webp" />
          <p>The Sailor's moon black cat mentor</p>
        </article>
        <article>
          <h3>Kirby</h3>
          <img src="/public/images/pets/kirby.webp" />
          <p>The Popstar planet's pink-spherical hero</p>
        </article>
        <article>
          <h3>Kuriboh</h3>
          <img src="/public/images/pets/kuriboh.webp" />
          <p>The fluffy, brown lifesaver monster from the Yu-Gi-Oh! series.</p>
        </article>
      </section>
    </main>

    <footer>
      <p>&copy; 2026 Lyan Víctor Páez Arévalo. All rights reserved.</p>
    </footer>
  </body>
</html>
